/*@media only screen and (max-width:  768px){
    .orders-filters{
        display: none;
    }
}

@media only screen and (max-width:  991px){
    .orders-filters{
        display: none;
    }
}*/
.grayscale-05:before{
  position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
    background-color: rgba(0, 0, 0, .4)
}

a {
  color: #32325d;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #32325d;
  text-decoration: none;
  background-color: transparent;
}

@media only screen and (max-width:  768px){
    .card-status-history-driver{
        display: none;
    }

    .orders-filters{
        display: none;
    }

    .table-web{
        display: none;
    }
}

/*@media only screen and (min-width: 992px){
    .table-mobile{
        display: none;
    }
}*/

#hide-filters{
    display: none;
}

.timeline
{
    position: relative;
}
.timeline:before
{
    position: absolute;
    top: 0;
    left: 1rem;

    height: 100%;

    content: '';

    border-right: 2px solid #e9ecef;
}

[data-timeline-axis-style='dashed']:before
{
    border-right-style: dashed !important;
}

[data-timeline-axis-style='dotted']:before
{
    border-right-style: dotted !important;
}

.timeline-block
{
    position: relative;

    margin: 2em 0;
}
.timeline-block:after
{
    display: table;
    clear: both;

    content: '';
}
.timeline-block:first-child
{
    margin-top: 0;
}
.timeline-block:last-child
{
    margin-bottom: 0;
}

.timeline-step
{
    font-size: 1rem;
    font-weight: 600;

    position: absolute;
    z-index: 1;
    left: 0;

    display: inline-flex;

    width: 33px;
    height: 33px;

    transform: translateX(-50%);
    text-align: center;

    border-radius: 50%;

    align-items: center;
    justify-content: center;
}
.timeline-step svg,
.timeline-step i
{
    line-height: 1.4;
}

.timeline-step-icon
{
    border: 2px solid #e9ecef;
    background: #fff;
}

.timeline-step-xs
{
    font-size: .75rem;

    width: 17px;
    height: 17px;
}

.timeline-step-sm
{
    font-size: .75rem;

    width: 23px;
    height: 23px;
}

.timeline-step-lg
{
    font-size: 1.75rem;

    width: 47px;
    height: 47px;
}

.timeline-content
{
    position: relative;
    position: relative;
    top: -6px;

    margin-left: 60px;
    padding-top: .5rem;
}
.timeline-content:after
{
    display: table;
    clear: both;

    content: '';
}

.timeline-body
{
    padding: 1.5rem;
}

@media (min-width: 992px)
{
    .timeline:before
    {
        left: 50%;

        margin-left: -2px;
    }
    .timeline-step
    {
        left: 50%;
    }
    .timeline-content
    {
        width: 38%;
    }
    .timeline-body
    {
        padding: 1.5rem;
    }
    .timeline-block:nth-child(even) .timeline-content
    {
        float: right;
    }
    [data-timeline-axis-color='primary']:before
    {
        border-color: #5e72e4;
    }
    [data-timeline-axis-color='secondary']:before
    {
        border-color: #f7fafc;
    }
    [data-timeline-axis-color='success']:before
    {
        border-color: #2dce89;
    }
    [data-timeline-axis-color='info']:before
    {
        border-color: #11cdef;
    }
    [data-timeline-axis-color='warning']:before
    {
        border-color: #fb6340;
    }
    [data-timeline-axis-color='danger']:before
    {
        border-color: #f5365c;
    }
    [data-timeline-axis-color='light']:before
    {
        border-color: #adb5bd;
    }
    [data-timeline-axis-color='dark']:before
    {
        border-color: #212529;
    }
    [data-timeline-axis-color='default']:before
    {
        border-color: #172b4d;
    }
    [data-timeline-axis-color='white']:before
    {
        border-color: #fff;
    }
    [data-timeline-axis-color='neutral']:before
    {
        border-color: #fff;
    }
    [data-timeline-axis-color='darker']:before
    {
        border-color: black;
    }
}

.timeline-one-side:before
{
    left: 1rem;
    display:inline-block;
}

.timeline-one-side .timeline-step
{
    left: 1rem;
}

.timeline-one-side .timeline-content
{
    width: auto;
}

@media (min-width: 992px)
{
    .timeline-one-side .timeline-content
    {
        max-width: 30rem;
    }
}

.timeline-one-side .timeline-block:nth-child(even) .timeline-content
{
    float: none;
}

.custom-nav{
    background-color: #fff;
    background: rgba(255, 255, 255, 0.95);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.sidenav-cart {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    /*opacity: 0.95;*/
    background: rgba(255, 255, 255, 0.95);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }

  #cartList{
    overflow-y: auto;
    max-height: 470px;
  }

  #new_address_checkout_body{
    overflow-y: auto;
    max-height: 600px;
  }

  .sidenav-cart-open{
      display: block;
  }

  .sidenav-cart-close{
      display: none;
  }

  .sidenav-cart a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidenav-cart a:hover {
    color: #f1f1f1;
  }

  .sidenav-cart .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  /*@media screen and (max-height: 450px) {
    .sidenav-cart {padding-top: 15px;}
    .sidenav-cart a {font-size: 18px;}
  }*/

@media (min-width: 576px)
{
    .sidenav-cart
    {
        max-width: 430px;
    }
}
@media (min-width: 768px)
{
    .sidenav-cart
    {
        max-width: 430px;
    }
}
@media (min-width: 992px)
{
    .sidenav-cart
    {
        max-width: 430px;
    }
}
@media (min-width: 1200px)
{
    .sidenav-cart
    {
        max-width: 430px;
    }
}


 .minicart-content .minicart-heading > h4 {
    margin-bottom: 0;
    padding-bottom: 25px;
  }

.minicart-content .minicart-list {
    max-height: 310px;
    position: relative;
    overflow: auto;
  }

  .minicart-content .minicart-list > li {
    padding-bottom: 30px;
  }

.minicart-content .minicart-list > li:last-child {
    padding-bottom: 0;
  }

.minicart-content .minicart-list > li.minicart-product {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .minicart-content .minicart-list > li.minicart-product > a.product-item_remove {
    position: absolute;
    right: 15px;
  }

.minicart-content .minicart-list > li.minicart-product .product-item_img {
    -webkit-flex-basis: 70px;
    -ms-flex-preferred-size: 70px;
    flex-basis: 70px;
    max-width: 70px;
  }

 .minicart-content .minicart-list > li.minicart-product .product-item_content {
    -webkit-flex-basis: calc(100% - 70px);
    -ms-flex-preferred-size: calc(100% - 70px);
    flex-basis: calc(100% - 70px);
    max-width: calc(100% - 70px);
    padding-left: 20px;
    padding-right: 10px;
  }

  @media (max-width: 479px) {
    .minicart-content .minicart-list > li.minicart-product .product-item_content a.product-item_title {
      font-size: 14px;
    }
  }

  .minicart-content .minicart-list > li.minicart-product .product-item_content .product-item_quantity {
    display: block;
    padding-top: 10px;
  }
  .offcanvas-menu-inner{
    padding: 0 52px 0 52px;
  }

.glyphicon-lg{
    font-size:4em
}

.info-block{
    border-right:5px solid #E6E6E6;margin-bottom:25px
}

.info-block .square-box{
    width:100px;
    /*min-height:90px;*/
    min-height:105px;
    height: 80px;
    margin-right:22px;
    text-align:center!important;
    background-color:#676767;
    /*padding:20px 0*/
}

.info-block.block-info{
    border-color: #5e72e4;
}

.info-block.block-info .square-box{
    background-color:#5e72e4;color:#FFF
}

.btn-cart{
    color: #5e72e4 !important;
}

.btn-cart:hover{
    color: #212529 !important;
    border-color: white !important;
    background-color: white !important;
}


/*-------- 2.3 Strip item --------*/
.strip {
    position: relative;
    margin-bottom: 30px;
  }
  .strip figure {
    margin-bottom: 5px;
    overflow: hidden;
    position: relative;
    height: 200px;
    background-color: #ededed;
  }

  .strip_city figure {
    margin-bottom: 5px;
    overflow: hidden;
    position: relative;
    height: 300px;
    background-color: #ededed;
  }
  
  .strip figure img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    z-index: 1;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .strip figure:hover img {
    -webkit-transform: translate(-50%, -50%) scale(1.1);
    -moz-transform: translate(-50%, -50%) scale(1.1);
    -ms-transform: translate(-50%, -50%) scale(1.1);
    -o-transform: translate(-50%, -50%) scale(1.1);
    transform: translate(-50%, -50%) scale(1.1);
  }
  
  .strip figure a.strip_info {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
    display: block;
  }
  .strip figure a.strip_info > small {
    position: absolute;
    background-color: black;
    background-color: black;
    left: 15px;
    top: 15px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    padding: 6px 8px 4px 8px;
    line-height: 1;
    font-size: 11px;
    font-size: 0.6875rem;
  }
  .strip figure .item_title {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 65px 15px 10px 15px;

  }
  .strip figure .item_title h3 {
    font-size: 16px;
    font-size: 1rem;
    margin: 0;
    font-weight: 500;
    color: #fff;
    margin: 0;
    padding: 0;
    line-height: 1;
  }

  .strip_item_title h3 {
    font-size: 16px;
    font-size: 1rem;
    margin: 0;
    font-weight: 500;
    color: #fff;
    margin: 0;
    padding: 0;
    line-height: 1;
  }

  .strip figure .item_title small {
    font-weight: 500;
    line-height: 1;
    font-size: 13px;
    font-size: 0.8125rem;
    color: rgba(255, 255, 255, 0.8);
  }
  .strip ul {
    padding: 0;
    margin: 0;
  }
  .strip ul li {
    display: inline-block;
    padding-top: 12px;
    font-size: 13px;
    font-size: 0.8125rem;
  }
  .strip ul li:last-child {
    padding: 0;
    float: right;
  }

  .ribbon {
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1;
    position: absolute;
    top: 12px;
    right: 15px;
    padding: 7px 8px 4px 8px;
    font-weight: 600;
    min-width: 40px;
    z-index: 9;
  }
  .ribbon.off {
    background-color: #ff3300;
  }

  .score strong {
    background-color: #f0f0f0;
    line-height: 1;
    -webkit-border-radius: 5px 5px 5px 0;
    -moz-border-radius: 5px 5px 5px 0;
    -ms-border-radius: 5px 5px 5px 0;
    border-radius: 5px 5px 5px 0;
    padding: 10px 10px 8px 10px;
    display: inline-block;
    font-size: 15px;
    font-size: 0.9375rem;
  }
  .score span {
    display: inline-block;
    position: relative;
    top: 7px;
    margin-right: 8px;
    font-size: 12px;
    font-size: 0.75rem;
    text-align: right;
    line-height: 1.1;
    font-weight: 500;
  }
  .score span em {
    display: block;
    font-weight: normal;
    font-size: 11px;
    font-size: 0.6875rem;
  }

  .loc_open, .loc_closed {
    position: relative;
    top: -2px;
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: 500;
    padding: 2px 8px;
    line-height: 1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
  }

  .loc_open {
    color: #32a067;
    border: 1px solid #32a067;
  }

  .loc_closed {
    color: #eb5c65;
    border: 1px solid #eb5c65;
  }

  .take, .deliv {
    font-size: 12px;
    font-size: 0.75rem;
    position: relative;
    padding-left: 20px;
    margin-right: 10px;
    font-weight: 500;
    color: #444;
  }
  .take:before, .deliv:before {
    font-size: 16px;
    font-size: 1rem;
    font-family: "ElegantIcons";
    content: "\e013";
    position: absolute;
    line-height: 1;
    font-weight: normal;
  }
  .take.no, .deliv.no {
    text-decoration: line-through;
    color: #bbb;
  }

  .take:before {
    content: "\e013";
    left: 0;
    top: -1px;
  }
  .take.no {
    text-decoration: line-through;
    color: #bbb;
  }

  .deliv {
    padding-left: 30px;
    margin-right: 0;
  }
  .deliv:before {
    font-size: 24px;
    font-size: 1.5rem;
    font-family: 'food';
    content: '\0074';
    left: 0;
    top: -4px;
  }

/*Mobile menu front*/
.mobile-menu{
    display: none;
}

@media (max-width: 991.98px){
    .mobile-menu{
        display: block;
    }

    .web-menu{
        display: none;
    }
}

.masthead {
    height: 400px;
    min-height: 400px;
    /*background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.avatar-custom{
    font-size: 1rem;

    display: inline-flex;

    width: 48px;
    height: 48px;

    color: #fff;

    background-color: #adb5bd;

    align-items: center;
    justify-content: center;
}

.avatar-custom img{
    width: 100%;
}

#map_location, #map_area{
    height: 500px !important;
    width: 100% !important;
}

#map2{
    height: 400px !important;
    width: 100% !important;
}

#map3{
    height: 220px !important;
    width: 100% !important;
}

.container-pages, #container-restorant{
    min-height: 300px !important;
}

#address-complete-order{
    padding-top: 45px;
}

[v-cloak] {
    display: none;
}

.container-payment{
    min-height: 550px !important;
}

.payment-image {
    transition: transform .2s; /* Animation */
    margin: 0 auto;
  }

.payment-image:hover {
    transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    cursor: pointer;
  }


  .blob {
    background: black;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    margin: 10px;
    height: 10px;
    width: 10px;
    transform: scale(1);
    animation: pulse-black 2s infinite;
  }

  .blob.red {
    background: rgba(255, 82, 82, 1);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
    animation: pulse-red 2s infinite;
  }

  .blob.redstatic {
    background: rgba(255, 82, 82, 1);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
  }

  @keyframes pulse-red {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    }

    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }

    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
  }

  .blob.green {
    background: rgba(51, 217, 178, 1);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 1);
    animation: pulse-green 2s infinite;
  }

  .blob.greenstatic {
    background: rgba(51, 217, 178, 1);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 1);
  }

  @keyframes pulse-green {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
    }

    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
    }

    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
    }
  }


  .blob.orange {
    background: rgba(255, 121, 63, 1);
    box-shadow: 0 0 0 0 rgba(255, 121, 63, 1);
    animation: pulse-orange 2s infinite;
  }
  .blob.orangestatic {
    background: rgba(255, 121, 63, 1);
    box-shadow: 0 0 0 0 rgba(255, 121, 63, 1);
  }

  @keyframes pulse-orange {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 121, 63, 0.7);
    }

    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(255, 121, 63, 0);
    }

    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 121, 63, 0);
    }
  }


  /**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

#main-content{
    min-height: 350px !important;
}

#address_map, #new_address_map {
    height: 280px;
}

/*Pagination mobile responsive*/
@media screen and ( max-width: 520px ){

    li.page-item {

        display: none;
    }

    .page-item:first-child,
    .page-item:last-child,
    .page-item.active {

        display: block;
    }
}
/*Pagination mobile responsive end here*/

/*Restaurant content*/
/*#restaurant-content{
    min-height: 350px !important;
}

@media screen and ( max-width: 520px ){
    #restaurant-content{
        min-height: 650px !important;
        margin: auto;
    }
}*/

/*Restaurant content end here*/

#clear_area{
    display: none;
}

#search_location:hover{
    color: #ec0c38;
}

.search-icon {
  display: inline;
  vertical-align: text-bottom;
  min-width: 10px;
  margin-right: 20px;
}

.search {
  color: #b80d55;
  fill: #b80d55;
}

.pac-container {
    background-color: #FFF;
    z-index: 100001;
    position: fixed;
    display: inline-block;
    float: left;
}
.modal{
    z-index: 100001;
}
.modal-backdrop{
    z-index: 100000;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 88px;
    z-index: 1000;
  }

  @media only screen and (max-width: 950px) {
    .sticky {
      top: 70px;
    }
 }


.nav-item-category{
    padding-bottom: 10px;
    padding-top: 8px;
}

.tabbable .nav-pills {
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
 }
 .tabbable .nav-pills .nav-link {
   white-space: nowrap;
 }

 #scrollTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }

  #scrollTopBtn:hover {
    background-color: #32325d;
  }

  .btn-time-to-prepare{
    margin-top: 5px;
    width: 69px !important;
  }

  .city_title{
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 16px;
    font-size: 1.5rem;
  }

  .city_letter{
    position: absolute;
    bottom: 0px;
    display: block;
    left: 0px;
    margin-left: -16px;
    margin-bottom: -90px;
    font-size: 14rem;
    font-weight:700;
    font-family: sans-serif;
  }

  .strip figure .city_letter {
    opacity: 0%;
    text-transform:uppercase;
    transition:opacity 0.8s;
    z-index: 1;
  }

  .strip figure:hover .city_letter {
    opacity: 70%;
    
    transition:opacity 0.8s
  }

  

  .strip figure .city_title {
    opacity: 100%;
    transition:opacity 0.8s;
    z-index: 1;
  }
  .strip figure:hover .city_title {
    opacity: 50%;
    transition:opacity 0.8s
  }

  

  

  .super_title {
    font-size: 11rem;
    opacity: 6%;
    margin-top: -11rem;
    padding: 0;
    margin-bottom: -5.8rem;
  }


